<div class="scenes">
  <div ng-repeat="sceneType in ['live', 'jingle']">
    <h2 class="capitalize">{{sceneType}}</h2>
    <button ng-repeat="scene in $ctrl.scenes |filter: {type: sceneType}"
    class="btn tile"
    ng-class="{
      'btn-primary': !$ctrl.isEnqueued(scene.id),
      'btn-warning': $ctrl.isEnqueued(scene.id),
      'btn-danger': $ctrl.dequeued == scene.id
    }"
    ng-click="$ctrl.enqueue(scene.id)">{{scene.title}}</button>
  </div>
</div>

<p>
  <button ng-click="$ctrl.dequeue()" class="btn btn-success">Dequeue</button>
</p>
<p>
  Queue: <code>{{$ctrl.values() | json}}</code>
</p>
<p>
  Active scene: <code>{{$ctrl.dequeued}}</code>
</p>
