<h2>Settings</h2>

<h3>vMix <small>The broadcasting software.</small></h3>

<form>
  <div class="input-group">
    <span class="input-group-addon">vMix API URL:</span>
    <input type="text" class="form-control" ng-model="$ctrl.settings.vmixApiUrl">
  </div>
</form>

<h3>Backend <small>Server for this application.</small></h3>

<form>
  <div class="input-group">
    <span class="input-group-addon">Backend API URL:</span>
    <input type="text" class="form-control" ng-model="$ctrl.settings.backendApiUrl">
  </div>
</form>
