<div ng-repeat="sceneType in ['live', 'jingle']">
  <h2 class="capitalize">{{sceneType}}</h2>
  <ul>
    <li ng-repeat="scene in $ctrl.scenes |filter: {type: sceneType}">
      <span class="label label-info">{{scene.id}}</span>
      {{scene.title}}
      <button ng-click="$ctrl.assignScene(scene.id, '')" class="btn btn-danger">
        <i class="fa fa-trash"></i>
      </button>
    </li>
  </ul>
</div>

<h2>Unassigned scenes</h2>
<ul class="scenes">
  <li ng-repeat="scene in $ctrl.scenes |filter: $ctrl.isUnassigned">
    <span class="label label-info">{{scene.id}}</span>
    {{scene.title}}
    <button ng-repeat="sceneType in ['live', 'jingle']"
      ng-click="$ctrl.assignScene(scene.id, sceneType)"
      class="capitalize btn btn-default">{{sceneType}}</button>
  </li>
</ul>
